<div class="create-dialog-box scrollable-dialog">
    <div class="title d-flex align-items-center justify-content-space-between">
        <h4 class="mb-0" *ngIf="data.apointementItem.apointement !== 'P'">
            Confirmation de rentrée
        </h4>
        <h4 class="mb-0" *ngIf="data.apointementItem.apointement === 'P'">
            Sortie
        </h4>
        <button class="close-btn bg-transparent p-0 border-none" (click)="close()"><i class="flaticon-close"></i></button>
    </div>
    <div class="personal-info-card" *ngIf="data.apointementItem.apointement !== 'P'">
        <p *ngIf="data.personne.sexe == 'Femme'">
            En cliquant sur ce bouton vous confirmez la reprise de travail de Mme {{data.personne.prenom.toUpperCase()}} {{data.personne.nom.toUpperCase()}}
        </p>
        <p *ngIf="data.personne.sexe == 'Homme'">
            En cliquant sur ce bouton vous confirmez la reprise de travail de Mr {{data.personne.prenom.toUpperCase()}} {{data.personne.nom.toUpperCase()}}
        </p>
        <ul class="list ps-0 mb-25">
            <li>
                <span class="fw-semibold d-inline-block">Identifiant: </span>
                <span class="gray-color">{{ data.apointementItem.matricule }}</span>
            </li>  
            <li>
                <span class="fw-semibold d-inline-block">Date de reprise: </span>
                <span class="gray-color">{{ data.apointementItem.date_sortie | date: 'dd/MM/yyyy HH:mm:ss' }}</span>
            </li> 
        </ul>
    </div>
    <div class="personal-info-card" *ngIf="data.apointementItem.apointement === 'P'">
        <p>
            Confirmation de la sortie!
        </p>
    </div>

    <form>
        <div class="text-end">
            <button type="button" class="gray" (click)="close()"><i class="ri-close-fill"></i> Annuler</button>
            <button type="submit" (click)="onSubmitUpdate()"><i class="ri-shield-check-fill"></i> Confirmer</button>
        </div>
    </form>
   
</div>
