<div fxLayout="row" fxLayout.xs="column" fxLayout.sm="column" fxLayoutGap="25px" fxLayoutGap.xs="0" fxLayoutGap.sm="0"
>
    <div fxFlex="25%" fxFlex.xs="100%" fxFlex.sm="50%" class="col">
        <mat-card class="single-stats-box tagus-card mb-25">
            <div class="d-flex align-items-center">
                <div class="icon bg2">
                    <i class="flaticon flaticon-people"></i> 
                </div>
                <div class="title">
                    <h3>8120</h3>
                    <span class="gray-color d-block">Total Employés</span>
                </div>
            </div>
        </mat-card>
    </div>
    <div fxFlex="25%" fxFlex.xs="100%" fxFlex.sm="50%" class="col">
        <mat-card class="single-stats-box tagus-card mb-25">
            <div class="d-flex align-items-center">
                <div class="icon bg3">
                    <i class="flaticon flaticon-user"></i>
                </div>
                <div class="title">
                    <h3>1700</h3>
                    <span class="gray-color d-block">Total Femmes</span>
                </div>
            </div>
        </mat-card>
    </div>
    <div fxFlex="25%" fxFlex.xs="100%" fxFlex.sm="50%" class="col">
        <mat-card class="single-stats-box tagus-card mb-25">
            <div class="d-flex align-items-center">
                <div class="icon bg4">
                    <i class="flaticon flaticon-user"></i>
                </div>
                <div class="title">
                    <h3>6420</h3>
                    <span class="gray-color d-block">Total Hommes</span>
                </div>
            </div>
        </mat-card>
    </div>
    <div fxFlex="20%" fxFlex.xs="100%" fxFlex.sm="50%" class="col">
        <mat-card class="single-stats-box tagus-card mb-25" style="background-color: aquamarine !important;">
            <span class="gray-color d-block mb-10">FILTRES Par</span>
            <mat-select type="button" mat-button class="position-relative p-0 bg-transparent border-none"  
                value="Employés"
                (selectionChange)="onSelectChange($event)">
                <mat-option *ngFor="let select of ['Employés', 'Finances', 'Presences', 
                'Recrutements', 'Archive, Stockage, Mail', 'All']" [value]="select">{{select.toUpperCase()}}</mat-option>
            </mat-select> 
            <mat-select type="button" mat-button class="position-relative p-0 bg-transparent border-none"
                        value="Mois"
                    (selectionChange)="onSelectChange($event)">
                <mat-option *ngFor="let select of ['Mois', 'Année', 'All']" [value]="select">{{select.toUpperCase()}}</mat-option>
            </mat-select> 
        </mat-card>
    </div> 
</div>