<span class="badge text-soft-primary" *ngIf="isMoisSuivantValid || isMoisSuivantANValid">
    {{ element.montant }} <span *ngIf="preference">{{ preference.monnaie }}</span> <sup>+1</sup>
</span>

<span class="badge text-soft-primary" *ngIf="!isMoisSuivantValid && isValid">
    {{ element.montant }} <span *ngIf="preference">{{ preference.monnaie }}</span>
</span>

<span *ngIf="isMoisPrecedentValid && !isValid">
   <del>{{ element.montant }} <span *ngIf="preference">{{ preference.monnaie }}</span></del> 
</span>