
<div class="d-flex justify-content-center" *ngIf="isLoading">
    <mat-spinner color="warn" [diameter]="30"></mat-spinner> <p class="ml-2"> Patientez-svp...</p>
</div>

<div *ngIf="!isLoading">
    <div class="breadcrumb-card mb-25 d-md-flex align-items-center justify-content-space-between">
        <h4 class="mb-0">Centre d'aide ?</h4>
        <ol class="breadcrumb mb-0 ps-0">
            <li class="breadcrumb-item">
                <a routerLink="/">
                    <i class="ri-home-8-line"></i>
                    Helps
                </a>
            </li>
            <li class="breadcrumb-item fw-semibold">Support</li>
        </ol>
    </div>
    <div class="row d-flex justify-content-end align-items-center"> 
        <button mat-icon-button color="primary" 
            (click)="openEditDialog('300ms', '100ms')"
            matTooltip="Add modiule documentation"
            class="mat-icon">
                <mat-icon>add_circle</mat-icon>
        </button> 
    </div>
    <div class="row d-flex justify-content-center align-items-center">
        <div class="col-sm-12 col-md-12 col-lg-9 col-xl-9 col-xxl-8">
            <div class="row">
                <div class="col-sm-6 col-md-6 col-lg-3 col-xl-4 col-xxl-4" *ngFor="let item of moduleDocList">
                    <mat-card class="mb-25 text-center tagus-card">
                        <mat-card-content>
                            <h5 class="mb-5 fw-semibold">{{ item.module }}</h5>
                            <div class="btn-box">
                                <a mat-flat-button [routerLink]="['/layouts/helps/support', item.id, 'section']" class="gray">Parcourir la doc</a>
                            </div>
                        </mat-card-content>
                    </mat-card>
                </div>
            </div>
        </div>
    </div>
</div>

