<div class="breadcrumb-card mb-25 d-md-flex align-items-center justify-content-space-between">
    <h4 class="mb-0">Présences</h4>
    <ol class="breadcrumb mb-0 ps-0">
        <li class="breadcrumb-item">
            <a routerLink="/">
                <i class="ri-home-8-line"></i>
                Dashboard
            </a>
        </li>
        <li class="breadcrumb-item gray-color">Présences</li>
        <li class="breadcrumb-item fw-semibold">Pointage</li>
    </ol>
</div>

<app-pointage-sidebar></app-pointage-sidebar>