<div class="d-flex justify-content-center" *ngIf="isLoading">
    <mat-spinner color="warn" [diameter]="30"></mat-spinner> <p class="ml-5">Patientez-svp...</p>
</div>
<div class="mb-25"  *ngIf="!isLoading">
    <div class="row justify-content-center" *ngIf="salaire && preference">
        <div class="col-lg-8 col-md-8 col-md-12 .offset-md-4 .offset-sm-0">  
                <mat-card class="mb-25 tagus-card">
                    <mat-card-header class="mb-10 d-flex justify-content-center">
                        <h4 class="mb-0 text-center">{{ title.toUpperCase()}} </h4>
                    </mat-card-header>
                    <mat-card-header>
                        <h6>Bulletin N°{{salaire.id}} du {{salaire.created | date: 'dd/MM/yyyy'}}</h6>
                        <div> 
                            <button mat-icon-button class="tagus">
                                <mat-icon>print</mat-icon>
                            </button>
                            <button mat-icon-button color="warn" 
                                (click)="delete(salaire.id)">
                                <mat-icon>delete</mat-icon>
                        </button>
                        </div>
                    </mat-card-header>
                    <mat-card-content class="example-buttons">
                        <form [formGroup]="formGroup" (ngSubmit)="onSubmit()">
                        <div class=" d-flex flex-nowrap mb-25 align-items-center justify-content-space-between">
                            <div class="col-lg-6 col-md-6 col-sm-6">
                                <table class="table"> 
                                    <tbody>
                                        <tr>
                                            <td class="text-start">
                                                Entreprise:
                                            </td>
                                            <td class="gray-color text-start">{{ preference.company_name }}</td> 
                                        </tr>
                                        <tr>
                                            <td class="text-start">
                                                RCCM:
                                            </td>
                                            <td class="gray-color text-start">{{ preference.rccm }}</td> 
                                        </tr>
                                        <tr>
                                            <td class="text-start">
                                                ID. Nat:
                                            </td>
                                            <td class="gray-color text-start">{{ preference.id_nat }}</td> 
                                        </tr>
                                        <tr>
                                            <td class="text-start">
                                                N° Impôt:
                                            </td>
                                            <td class="gray-color text-start">{{ preference.numero_impot }}</td>
                                        </tr>
                                    </tbody>
                                </table>
                            </div>
                            <div class="col-lg-6 col-md-6 col-sm-6 d-flex justify-content-center">
                                <qrcode [qrdata]="salaire.personnel.matricule" [width]="100" [errorCorrectionLevel]="'M'"></qrcode>
                            </div>
                        </div>
                        <mat-divider class="mb-25" ></mat-divider>
                        <table class="table">
                            <tbody>
                                <tr>
                                    <td class="text-start">
                                        Identifiant:
                                    </td>
                                    <td class="gray-color text-start">{{ salaire.personnel.matricule.toUpperCase() }}</td>
                                </tr>
                                <tr>
                                    <td class="text-start">
                                        Nom complet:
                                    </td>
                                    <td class="gray-color text-start">{{ salaire.personnel.nom}} {{ salaire.personnel.postnom}} {{ salaire.personnel.prenom}}</td> 
                                </tr>
                                <tr>
                                    <td class="text-start">
                                        Département
                                    </td>
                                    <td class="gray-color text-start">{{ salaire.personnel.departement}} </td> 
                                </tr>
                                <tr>
                                    <td class="text-start">
                                        N° CNSS:
                                    </td>
                                    <td class="gray-color text-start">{{ salaire.personnel.numero_cnss }}</td> 
                                </tr>
                                <tr>
                                    <td class="text-start">
                                        Compte bancaire:
                                    </td>
                                    <td class="gray-color text-start">{{ salaire.personnel.compte_bancaire }}</td> 
                                </tr>
                                <tr>
                                    <td class="text-start">
                                        Monnaie:
                                    </td>
                                    <td class="gray-color text-start">{{ salaire.monnaie }}</td> 
                                </tr>
                            </tbody>
                        </table>
                        <ul class="list ps-0 mb-0 mt-25">
                            <div class="table-responsive mb-10">
                                <table class="table"> 
                                    <tbody>
                                        <tr>
                                            <td class="text-start fontSize">
                                                PRESTATIONS
                                            </td> 
                                            <td></td>
                                        </tr>
                                        <tr>
                                            <td class="text-start">
                                                Jours prestés :
                                            </td> 
                                            <td class="gray-color text-end">{{ salaire.nbre_jrs_preste }}</td>
                                        </tr>
                                        <tr>
                                            <td class="text-start">
                                                Congé payés (2/3) :
                                            </td> 
                                            <td class="gray-color text-end">{{ salaire.conge_paye }}</td>
                                        </tr>
                                        <tr>
                                            <td class="text-start">
                                                Nombre de dependants :
                                            </td> 
                                            <td class="gray-color text-end">{{ salaire.nbr_dependants }}</td>
                                        </tr>
                                        <tr>
                                            <td class="text-start">
                                                Nombre d'heures supp. :
                                            </td> 
                                            <td class="gray-color text-end">{{ salaire.heures_supp }}</td>
                                        </tr>
                                        <tr>
                                            <td class="text-start">
                                                Age d'ancienneté :
                                            </td> 
                                            <td class="gray-color text-end">{{ salaire.anciennete_nbr_age }}</td>
                                        </tr>
                                    </tbody>
                                </table>
                            </div>  
                            <div class="table-responsive mb-10">
                                <table class="table"> 
                                    <tbody>
                                        <tr>
                                            <td class="text-start fontSize">
                                                BRUTE IMPOSABLE
                                            </td> 
                                            <td></td>
                                        </tr>
                                        <tr>
                                            <td class="text-start">
                                                Salaire de base : 
                                            </td> 
                                           <td class="gray-color text-end">
                                             <input type="text" class="form-control" 
                                             type="number"
                                                aria-label="Sizing example input" 
                                                aria-describedby="inputGroup-sizing-sm"
                                                formControlName="salaire_base"
                                                
                                                >
                                           </td> 
                                        </tr>
                                        <tr> 
                                            <td class="text-start">
                                                Contre-valeur logement :
                                            </td> 
                                            <td class="gray-color text-end">
                                                <input type="text" class="form-control" 
                                                type="number"
                                                   aria-label="Sizing example input" 
                                                   aria-describedby="inputGroup-sizing-sm"
                                                   formControlName="alloc_logement"
                                                   
                                                   >
                                              </td>
                                        </tr>
                                        <tr>
                                            <td class="text-start">
                                                Allocation transport : 
                                            </td>
                                            <td class="gray-color text-end">
                                                <input type="text" class="form-control" 
                                                type="number"
                                                   aria-label="Sizing example input" 
                                                   aria-describedby="inputGroup-sizing-sm"
                                                   formControlName="alloc_transport"
                                                   
                                                   >
                                              </td>
                                        </tr>
                                        <tr>
                                            <td class="text-start">
                                                Allocation familliale : 
                                            </td>
                                            <td class="gray-color text-end">
                                                <input type="text" class="form-control" 
                                                type="number"
                                                   aria-label="Sizing example input" 
                                                   aria-describedby="inputGroup-sizing-sm"
                                                   formControlName="alloc_familliale"
                                                   
                                                   >
                                              </td>
                                        </tr>
                                        <tr>
                                            <td class="text-start">
                                                Primes d'anciennetés : 
                                            </td>
                                            <td class="gray-color text-end" *ngIf="salaire.anciennete_nbr_age >= 5">
                                                <input type="text" class="form-control" 
                                                type="number"
                                                   aria-label="Sizing example input" 
                                                   aria-describedby="inputGroup-sizing-sm"
                                                   formControlName="prime_anciennete"
                                                   
                                                   >
                                              </td> 
                                              <td class="gray-color text-end" *ngIf="salaire.anciennete_nbr_age < 5"
                                                    >{{ salaire.anciennete_nbr_age | numberFormat:'fr-FR' }} FC
                                                </td> 
                                        </tr>
                                        <tr>
                                            <td class="text-start">
                                                Primes divers :
                                            </td>
                                            <td class="gray-color text-end">
                                                <input type="text" class="form-control" 
                                                type="number"
                                                   aria-label="Sizing example input" 
                                                   aria-describedby="inputGroup-sizing-sm"
                                                   formControlName="primes"
                                                   
                                                   >
                                              </td> 
                                            </tr>
                                        <tr>
                                            <td class="text-start">
                                                Primes Heures supp. :
                                            </td>
                                            <td class="gray-color text-end"  *ngIf="this.salaire.heures_supp >= 2">
                                                <input type="text" class="form-control" 
                                                    type="number"
                                                   aria-label="Sizing example input" 
                                                   aria-describedby="inputGroup-sizing-sm"
                                                   formControlName="heureSupplementaireMonnaie"
                                                   
                                                   >
                                              </td> 
                                              <td class="gray-color text-end" *ngIf="this.salaire.heures_supp < 2"
                                                    >{{ salaire.heures_supp | numberFormat:'fr-FR' }} FC
                                                </td> 
                                        </tr>
                                        <tr>
                                            <td class="text-start">
                                                Remunération Brute Imposaable(RBI)
                                            </td> 
                                            <td class="gray-color fontSize text-end">{{ rbi | numberFormat:'fr-FR' }} FC</td>
                                        </tr>
                                    </tbody>
                                </table>
                            </div> 
                            <div class="table-responsive mb-10">
                                <table class="table">
                                    <tbody>
                                        <tr>
                                            <td class="text-start fontSize">
                                                NETTE IMPOSABLE
                                            </td>
                                            <td></td>
                                        </tr>
                                        <tr>
                                            <td class="text-start">
                                                CNSS QPO (5%):
                                            </td> 
                                            <td class="gray-color text-end">{{ cnss_qpo | numberFormat:'fr-FR' }} FC</td>  
                                        </tr> 
                                        <tr>
                                            <td class="text-start">
                                                Remunération Nette Imposable(RNI)
                                            </td>
                                            <td class="gray-color fontSize text-end">{{ rni | numberFormat:'fr-FR' }} FC</td>
                                        </tr>
                                    </tbody>
                                </table>
                            </div>

                            <div class="table-responsive mb-10">
                                <table class="table"> 
                                    <tbody> 
                                        <tr>
                                            <td class="text-start fontSize">
                                                DEDUCTIONS
                                            </td> 
                                            <td></td>
                                        </tr>
                                        <tr>
                                            <td class="text-start">
                                                Impôt Professionnel sur les Rémunérations (IPR)
                                            </td>
                                            <td class="gray-color text-end">{{ ipr | numberFormat:'fr-FR' }} FC</td>
                                        </tr>
                                        <tr>
                                            <td class="text-start">
                                                Avances salaire
                                            </td> 
                                            <td class="gray-color text-end">{{ avance_slaire | numberFormat:'fr-FR' }} FC</td>  
                                        </tr>
                                        <tr>
                                            <td class="text-start">
                                                Sanctions ou pénalités
                                            </td> 
                                            <td class="gray-color text-end">{{ penalites | numberFormat:'fr-FR' }} FC</td> 
                                        </tr>
                                        <tr>
                                            <td class="text-start">
                                            Cotisations Syndicale(1%)
                                            </td> 
                                            <td class="gray-color text-end">{{ syndicat | numberFormat:'fr-FR' }} FC</td>
                                        </tr>
                                        <tr>
                                            <td class="text-start">
                                                Prise en charge des frais bancaires
                                            </td> 
                                            <td class="gray-color text-end">{{ prise_en_charge_frais_bancaire | numberFormat:'fr-FR' }} FC</td>  
                                        </tr>
                                    </tbody>
                                </table>
                            </div>
                            <li class="fw-semibold net_a_payer d-flex align-items-center justify-content-space-between">
                                Net à payer :
                                <span>
                                    <span  class="gray-color fontSize">{{ net_a_payer | numberFormat:'fr-FR' }} FC</span>
                                </span>
                            </li>
                        </ul>
 
                        <div class="d-flex align-items-center justify-content-center mt-25">
                            <button mat-flat-button class="tagus">Publier</button>
                            <p></p>
                            <button mat-stroked-button class="tagus">Brouillon</button>
                        </div>
                    </form> 
                    </mat-card-content>
                </mat-card>  
        </div> 
    
    </div>
</div>

