<div
    class="sidebar-area bg-white box-shadow"
    [ngClass]="{'active': isToggled}"
    [class.dark-sidebar]="themeService.isSidebarDark()"
    [class.right-sidebar]="themeService.isRightSidebar()"
    [class.hide-sidebar]="themeService.isHideSidebar()"
>
    <div class="logo bg-white">
        <a routerLink="/layouts" class="d-flex align-items-center">
            <img src="assets/img/logo-icon.png" alt="logo">
            <span>Ressources Humaines</span>
        </a>
    </div>
    <div class="burger-menu" (click)="toggle()" [ngClass]="{'active': isToggled}">
        <span class="top-bar"></span>
        <span class="middle-bar"></span>
        <span class="bottom-bar"></span>
    </div>
    <ng-scrollbar visibility="hover" style="height: 100vh;">
        <div class="sidebar-inner">
            <div class="sidebar-menu">
                <mat-accordion>
                    <a routerLink="/layouts/dashboard" class="sidebar-menu-link" routerLinkActive="active" [routerLinkActiveOptions]="{exact: true}">
                        <i class="flaticon-menu-1"></i>
                        <span class="title">Dashboard</span>
                    </a>
                    <a routerLink="/layouts/personnels/personnel-list" class="sidebar-menu-link" routerLinkActive="active" [routerLinkActiveOptions]="{exact: true}">
                        <i class="ri-group-line"></i>
                        <span class="title">Personnels</span>
                    </a>
                    <mat-expansion-panel (opened)="panelOpenState = true" (closed)="panelOpenState = true">
                        <mat-expansion-panel-header>
                            <mat-panel-title>
                                <i class="ri-user-follow-line"></i>
                                <span class="title">Présences</span> 
                            </mat-panel-title>
                        </mat-expansion-panel-header>
                        <ul class="sidebar-sub-menu">
                            <li class="sidemenu-item">
                                <a routerLink="/layouts/presences/statuts-presences" routerLinkActive="active" [routerLinkActiveOptions]="{exact: true}" class="sidemenu-link">
                                    Statuts presence
                                </a>
                            </li>
                            <li class="sidemenu-item">
                                <a routerLink="/layouts/presences/pointage" routerLinkActive="active" [routerLinkActiveOptions]="{exact: true}" class="sidemenu-link">
                                    Pointage presence
                                </a>
                            </li>
                            <li class="sidemenu-item">
                                <a routerLink="/layouts/presences/registre-presences" routerLinkActive="active" [routerLinkActiveOptions]="{exact: true}" class="sidemenu-link">
                                    Registre de presences
                                </a>
                            </li>
                            <li class="sidemenu-item">
                                <a routerLink="/layouts/presences/heures-supplementaires" routerLinkActive="active" [routerLinkActiveOptions]="{exact: true}" class="sidemenu-link">
                                    Heures supplementaires
                                </a>
                            </li> 
                        </ul>
                    </mat-expansion-panel>
                    <mat-expansion-panel (opened)="panelOpenState = true" (closed)="panelOpenState = true">
                        <mat-expansion-panel-header>
                            <mat-panel-title>
                                <i class="ri-wallet-2-line"></i>
                                <span class="title">Salaires</span>
                            </mat-panel-title>
                        </mat-expansion-panel-header>
                        <ul class="sidebar-sub-menu">
                            <li class="sidemenu-item">
                                <a routerLink="/layouts/mail/inbox" routerLinkActive="active" [routerLinkActiveOptions]="{exact: true}" class="sidemenu-link">
                                    Relevé de salaire
                                </a>
                            </li>
                            <li class="sidemenu-item">
                                <a routerLink="/layouts/mail/inbox" routerLinkActive="active" [routerLinkActiveOptions]="{exact: true}" class="sidemenu-link">
                                    Bulletin de paie
                                </a>
                            </li>
                            <li class="sidemenu-item">
                                <a routerLink="/layouts/mail/compose" routerLinkActive="active" [routerLinkActiveOptions]="{exact: true}" class="sidemenu-link">
                                    Avances sur salaires
                                </a>
                            </li>
                            <li class="sidemenu-item">
                                <a routerLink="/layouts/mail/compose" routerLinkActive="active" [routerLinkActiveOptions]="{exact: true}" class="sidemenu-link">
                                    Statut de paies
                                </a>
                            </li>
                            <li class="sidemenu-item">
                                <a routerLink="/layouts/mail/compose" routerLinkActive="active" [routerLinkActiveOptions]="{exact: true}" class="sidemenu-link">
                                    Taxes de la société
                                </a>
                            </li>
                            <li class="sidemenu-item">
                                <a routerLink="/layouts/mail/read-mail" routerLinkActive="active" [routerLinkActiveOptions]="{exact: true}" class="sidemenu-link">
                                    Primes
                                </a>
                            </li>
                            <li class="sidemenu-item">
                                <a routerLink="/layouts/mail/read-mail" routerLinkActive="active" [routerLinkActiveOptions]="{exact: true}" class="sidemenu-link">
                                    Penalités
                                </a>
                            </li>
                            <li class="sidemenu-item">
                                <a routerLink="/layouts/mail/brouillon" routerLinkActive="active" [routerLinkActiveOptions]="{exact: true}" class="sidemenu-link">
                                    Retenues frais bancaire
                                </a>
                            </li>
                        </ul>
                    </mat-expansion-panel>
                    <a routerLink="/layouts/personnels/syndicats" class="sidebar-menu-link" routerLinkActive="active" [routerLinkActiveOptions]="{exact: true}">
                        <i class="ri-user-4-line"></i>
                        <span class="title">Syndicats</span>
                    </a>
                    <a routerLink="/layouts/personnels/personnel-list" class="sidebar-menu-link" routerLinkActive="active" [routerLinkActiveOptions]="{exact: true}">
                        <i class="ri-calendar-todo-fill"></i>
                        <span class="title">Horaire</span>
                    </a>
                    <mat-expansion-panel (opened)="panelOpenState = true" (closed)="panelOpenState = true">
                        <mat-expansion-panel-header>
                            <mat-panel-title>
                                <i class="ri-account-pin-box-line"></i>
                                <span class="title">Recrutements</span>
                            </mat-panel-title>
                        </mat-expansion-panel-header>
                        <ul class="sidebar-sub-menu">
                            <li class="sidemenu-item">
                                <a routerLink="/layouts/recrutements/postes" routerLinkActive="active" [routerLinkActiveOptions]="{exact: true}" class="sidemenu-link">
                                    Postes
                                </a>
                            </li>
                            <li class="sidemenu-item">
                                <a routerLink="/layouts/recrutements/candidatures" routerLinkActive="active" [routerLinkActiveOptions]="{exact: true}" class="sidemenu-link">
                                    Candidatures
                                </a>
                            </li>
                        </ul>
                    </mat-expansion-panel>
                    <mat-expansion-panel (opened)="panelOpenState = true" (closed)="panelOpenState = true">
                        <mat-expansion-panel-header>
                            <mat-panel-title>
                                <i class="flaticon-envelope"></i>
                                <span class="title">Email</span>
                            </mat-panel-title>
                        </mat-expansion-panel-header>
                        <ul class="sidebar-sub-menu">
                            <li class="sidemenu-item">
                                <a routerLink="/layouts/mail/inbox" routerLinkActive="active" [routerLinkActiveOptions]="{exact: true}" class="sidemenu-link">
                                    Reception
                                </a>
                            </li>
                            <li class="sidemenu-item">
                                <a routerLink="/layouts/mail/compose" routerLinkActive="active" [routerLinkActiveOptions]="{exact: true}" class="sidemenu-link">
                                    Nouveau mail
                                </a>
                            </li>
                            <li class="sidemenu-item">
                                <a routerLink="/layouts/mail/read-mail" routerLinkActive="active" [routerLinkActiveOptions]="{exact: true}" class="sidemenu-link">
                                    Read Email
                                </a>
                            </li>
                            <li class="sidemenu-item">
                                <a routerLink="/layouts/mail/brouillon" routerLinkActive="active" [routerLinkActiveOptions]="{exact: true}" class="sidemenu-link">
                                    Brouillon
                                </a>
                            </li>
                        </ul>
                    </mat-expansion-panel> 
                    <span class="sub-title gray-color">Configurations</span>
                    <mat-expansion-panel (opened)="panelOpenState = true" (closed)="panelOpenState = true">
                        <mat-expansion-panel-header>
                            <mat-panel-title>
                                <i class="flaticon-setting"></i>
                                <span class="title">Preferences</span>
                            </mat-panel-title>
                        </mat-expansion-panel-header>
                        <ul class="sidebar-sub-menu">
                            <li class="sidemenu-item">
                                <a routerLink="/layouts/preferences/reglages" routerLinkActive="active" [routerLinkActiveOptions]="{exact: true}" class="sidemenu-link">
                                    Reglages
                                </a>
                            </li>
                            <li class="sidemenu-item">
                                <a routerLink="/layouts/preferences/departement" routerLinkActive="active" [routerLinkActiveOptions]="{exact: true}" class="sidemenu-link">
                                    Départements
                                </a>
                            </li>
                            <li class="sidemenu-item">
                                <a routerLink="/layouts/preferences/site-location" routerLinkActive="active" [routerLinkActiveOptions]="{exact: true}" class="sidemenu-link">
                                    Site location
                                </a>
                            </li>
                            <li class="sidemenu-item">
                                <a routerLink="/layouts/preferences/fonction" routerLinkActive="active" [routerLinkActiveOptions]="{exact: true}" class="sidemenu-link">
                                    Fonctions
                                </a>
                            </li>
                            <li class="sidemenu-item">
                                <a routerLink="/layouts/preferences/services" routerLinkActive="active" [routerLinkActiveOptions]="{exact: true}" class="sidemenu-link">
                                    Services
                                </a>
                            </li>
                            <li class="sidemenu-item">
                                <a routerLink="/layouts/preferences/titles" routerLinkActive="active" [routerLinkActiveOptions]="{exact: true}" class="sidemenu-link">
                                    Titre
                                </a>
                            </li>
                        </ul>
                    </mat-expansion-panel>
                    <a routerLink="/layouts/personnels/personnel-list" class="sidebar-menu-link" routerLinkActive="active" [routerLinkActiveOptions]="{exact: true}">
                        <i class="ri-archive-line"></i>
                        <span class="title">Archives</span>
                    </a>
                    
                </mat-accordion>
            </div>
        </div>
    </ng-scrollbar>
</div>