
<div *ngIf="presence"> 
    <div *ngIf="isPToday">
        <div class="position-relative muted-color plus-btn present p-0 border-none rounded-circle"
            *ngIf="presence.apointement == 'P'">
        </div>
    </div>

    <div *ngIf="isAToday">
        <div class="position-relative muted-color plus-btn absence-sans-autorisation p-0 border-none rounded-circle"
            *ngIf="presence.apointement == 'A'">
        </div>  
    </div> 

    <div *ngIf="isAAToday">
        <div class="position-relative muted-color plus-btn absence-autorisee p-0 border-none rounded-circle"
            *ngIf="presence.apointement == 'AA'">
        </div>
    </div>
    
    <div *ngIf="isAMToday">
        <div class="position-relative muted-color plus-btn absent-maladie p-0 border-none rounded-circle"
            *ngIf="presence.apointement == 'AM'">
        </div>
    </div>
    
    <div *ngIf="isCDToday">
        <div class="position-relative muted-color plus-btn conge-deuil p-0 border-none rounded-circle"
            *ngIf="presence.apointement == 'CD'">
        </div>
    </div>
    
    <div *ngIf="isCAToday">
        <div class="position-relative muted-color plus-btn conge-annuel p-0 border-none rounded-circle"
            *ngIf="presence.apointement == 'CA'">
        </div>
    </div>

    <div *ngIf="isCOToday">
        <div class="position-relative muted-color plus-btn conge-occasionnel p-0 border-none rounded-circle"
            *ngIf="presence.apointement == 'CO'">
        </div>
    </div>
 
    <div *ngIf="isSToday">
        <div class="position-relative muted-color plus-btn suspension p-0 border-none rounded-circle"
            *ngIf="presence.apointement == 'S'">
        </div> 
    </div>

    <div *ngIf="isOToday">
        <div class="position-relative muted-color plus-btn service-off p-0 border-none rounded-circle"
            *ngIf="presence.apointement == 'O'">
        </div>
    </div>
    
 
    <div *ngIf="isMToday">
        <div class="position-relative muted-color plus-btn mission p-0 border-none rounded-circle"
            *ngIf="presence.apointement == 'M'">
        </div>
    </div>
     
</div>
 
 