<div class="d-flex justify-content-center" *ngIf="isLoading">
    <mat-spinner color="warn" [diameter]="30"></mat-spinner> <p class="ml-2">Patientez-svp...</p>
</div>
<div *ngIf="!isLoading">
    <div class="row" *ngIf="personne">
        <div class="col-lg-12 col-md-12">
            <mat-card class="mb-25 personal-info-card tagus-card" [class.component-dark-theme]="themeService.isDark()">
                <mat-card-header>
                    <h4 class="mb-0">Fiche employé</h4>
                    <div> 
                        <button [disabled]="personne.is_paie === dateMonth" mat-flat-button class="default-btn tagus" 
                            (click)="onSubmit()" >
                            <div class="d-flex justify-content-center" *ngIf="!isLoadingSubmit">
                                <span><i class="ri-add-fill"></i> Génerer la fiche de paie </span>
                            </div> 
                            <div class="d-flex justify-content-center" *ngIf="isLoadingSubmit">
                                <mat-spinner color="warn" [diameter]="30"></mat-spinner> 
                                <p class="ml-2">Patientez-svp...</p>
                            </div>
                        </button>
                    </div>
                </mat-card-header>
                <mat-card-content>
                    <div class="row">
                        <div class="col-lg-4 col-md-6 col-sm-6">
                            <ul class="list ps-0 mb-0">
                                <li>
                                    <span class="fw-semibold">Matricule: </span>
                                    <span class="gray-color">{{ personne.matricule }}</span>
                                </li>
                            </ul>
                        </div>
                        <div class="col-lg-8 col-md-6 col-sm-6">
                            <ul class="list ps-0 mb-0">
                                <li>
                                    <span class="fw-semibold">Categorie: </span>
                                    <span class="gray-color">{{ personne.category }}</span>
                                </li> 
                            </ul>
                        </div> 
                        <div class="col-lg-4 col-md-6 col-sm-6">
                            <ul class="list ps-0 mb-0">
                                <li>
                                    <span class="fw-semibold">Nom: </span>
                                    <span class="gray-color">{{ personne.nom }}</span>
                                </li>
                            </ul>
                        </div>
                        <div class="col-lg-4 col-md-6 col-sm-6">
                            <ul class="list ps-0 mb-0">
                                <li>
                                    <span class="fw-semibold">Postnom: </span>
                                    <span class="gray-color">{{ personne.postnom }}</span>
                                </li>
                            </ul>
                        </div>
                        <div class="col-lg-4 col-md-6 col-sm-6">
                            <ul class="list ps-0 mb-0">
                                <li>
                                    <span class="fw-semibold">Prenom: </span>
                                    <span class="gray-color">{{ personne.prenom }}</span>
                                </li>
                            </ul>
                        </div>
                        <div class="col-lg-4 col-md-6 col-sm-6">
                            <ul class="list ps-0 mb-0">
                                <li>
                                    <span class="fw-semibold">Email: </span>
                                    <span class="gray-color">{{ personne.email }}</span>
                                </li>
                            </ul>
                        </div>
                        <div class="col-lg-4 col-md-6 col-sm-6">
                            <ul class="list ps-0 mb-0">
                                <li>
                                    <span class="fw-semibold">Telephone: </span>
                                    <span class="gray-color">{{ personne.telephone }}</span>
                                </li>
                            </ul>
                        </div>
                        <div class="col-lg-4 col-md-6 col-sm-6">
                            <ul class="list ps-0 mb-0">
                                <li>
                                    <span class="fw-semibold">Sexe: </span>
                                    <span class="gray-color">{{ personne.sexe }}</span>
                                </li> 
                            </ul>
                        </div> 
                    </div> 
                </mat-card-content>
                <mat-card-content>
                    <app-releve-paie-table [personne]="personne" [preference]="preference"></app-releve-paie-table>
                </mat-card-content>
            </mat-card> 
        </div>
        
    </div>
</div>
