

    <div fxLayout="row" fxLayout.xs="column" fxLayout.sm="column" fxLayoutGap="25px" fxLayoutGap.xs="0" fxLayoutGap.sm="0">
        
        <div fxFlex="25%" fxFlex.xs="100%" fxFlex.sm="50%" class="col"  
                *ngIf="isSelectCategory == 'Employés' || isSelectCategory == 'All'">
            <mat-card class="single-stats-box tagus-card mb-25">
                <div class="d-flex align-items-center">
                    <div class="icon bg2">
                        <i class="flaticon flaticon-people"></i> 
                    </div>
                    <div class="title"> 
                            <div *ngIf="isSelect == 'Mois'">
                                <h3>{{totalEmployeMonth}}</h3>
                            </div>
                            <div *ngIf="isSelect == 'Année'">
                                <h3>{{totalEmployeYear}}</h3>
                            </div>
                            <div *ngIf="isSelect == 'All'">
                                <h3>{{totalEmployeAll}}</h3>
                            </div>
                        <span class="gray-color d-block">Total Employés</span>
                    </div>
                </div>
            </mat-card>
        </div>
        <div fxFlex="25%" fxFlex.xs="100%" fxFlex.sm="50%" class="col"  
            *ngIf="isSelectCategory == 'Employés' || isSelectCategory == 'All'">
            <mat-card class="single-stats-box tagus-card mb-25">
                <div class="d-flex align-items-center">
                    <div class="icon bg3">
                        <i class="flaticon flaticon-user"></i>
                    </div>
                    <div class="title"> 
                        <div *ngIf="isSelect == 'Mois'">
                            <h3>{{totalEmployeFemmeMonth}}</h3>
                        </div>
                        <div *ngIf="isSelect == 'Année'">
                            <h3>{{totalEmployeFemmeYear}}</h3>
                        </div>
                        <div *ngIf="isSelect == 'All'">
                            <h3>{{totalEmployeFemmeAll}}</h3>
                        </div> 
                        <span class="gray-color d-block">Total Femmes</span>
                    </div>
                </div>
            </mat-card>
        </div>
        <div fxFlex="25%" fxFlex.xs="100%" fxFlex.sm="50%" class="col"  
                *ngIf="isSelectCategory == 'Employés' || isSelectCategory == 'All'">
            <mat-card class="single-stats-box tagus-card mb-25">
                <div class="d-flex align-items-center">
                    <div class="icon bg4">
                        <i class="flaticon flaticon-user"></i>
                    </div>
                    <div class="title"> 
                            <div *ngIf="isSelect == 'Mois'">
                                <h3>{{totalEmployeHommeMonth}}</h3>
                            </div>
                            <div *ngIf="isSelect == 'Année'">
                                <h3>{{totalEmployeHommeYear}}</h3>
                            </div>
                            <div *ngIf="isSelect == 'All'">
                                <h3>{{totalEmployeHommeAll}}</h3>
                            </div> 
                        <span class="gray-color d-block">Total Hommes</span>
                    </div>
                </div>
            </mat-card>
        </div>

        <div fxFlex="25%" fxFlex.xs="100%" fxFlex.sm="50%" class="col"  
            *ngIf="isSelectCategory == 'Finances'">
            <mat-card class="single-stats-box tagus-card mb-25">
                <div class="d-flex justify-content-space-between">
                    <span class="title gray-color fw-semibold">Net à payer</span>
                    <div class="icon">
                        <i class="ri-money-dollar-circle-line"></i>
                    </div>
                </div>
                <div class="d-flex align-items-center justify-content-space-between"  *ngIf="isSelect == 'Mois'"> 
                    <h3 class="text-center">{{ netAPayerMonth  | numberFormat:'fr-FR'}} FC</h3> 
                </div>
                <div class="d-flex align-items-center justify-content-space-between"  *ngIf="isSelect == 'Année'">
                    <h3 class="text-center">{{ netAPayerYear  | numberFormat:'fr-FR'}} FC</h3>  
                </div>
                <div class="d-flex align-items-center justify-content-space-between"  *ngIf="isSelect == 'All'">
                    <h3 class="text-center">{{ netAPayerAll  | numberFormat:'fr-FR'}} FC</h3>  
                </div> 
            </mat-card>
        </div>
        <div fxFlex="25%" fxFlex.xs="100%" fxFlex.sm="50%" class="col"  
            *ngIf="isSelectCategory == 'Finances'">
            <mat-card class="single-stats-box tagus-card mb-25">
                <div class="d-flex justify-content-space-between">
                    <span class="title gray-color fw-semibold">Total IPR</span>
                    <div class="icon bg2">
                        <i class="ri-swap-box-line"></i>
                    </div>
                </div>
                <h3 class="text-center">$10,324</h3> 
            </mat-card>
        </div>
        <div fxFlex="25%" fxFlex.xs="100%" fxFlex.sm="50%" class="col"  
            *ngIf="isSelectCategory == 'Finances'">
            <mat-card class="single-stats-box tagus-card mb-25">
                <div class="d-flex justify-content-space-between">
                    <span class="title gray-color fw-semibold">Total CNSS (QPO)</span>
                    <div class="icon bg3">
                        <i class="ri-safe-line"></i>
                    </div>
                </div>
                <h3 class="text-center">103</h3> 
            </mat-card>
        </div> 
 
        <div fxFlex="25%" fxFlex.xs="100%" fxFlex.sm="50%" class="col">
            <mat-card class="single-stats-box tagus-card mb-25" style="background-color: aquamarine !important;">
                <span class="gray-color d-block mb-10">FILTRER Par</span>
                <mat-select type="button" mat-button class="position-relative p-0 bg-transparent border-none"  
                    value="All"
                    (selectionChange)="onSelectCategoryChange($event)">
                    <mat-option *ngFor="let category of categoryList" [value]="category">{{category.toUpperCase()}}</mat-option>
                </mat-select> 
                <mat-select type="button" mat-button class="position-relative p-0 bg-transparent border-none"
                            value="All"
                        (selectionChange)="onSelectChange($event)">
                    <mat-option *ngFor="let select of dureeList" [value]="select">{{select.toUpperCase()}}</mat-option>
                </mat-select> 
            </mat-card>  
        </div> 
    </div>  




<div *ngIf="isSelectCategory == 'All'">
    <div *ngIf="isSelect == 'Mois'">
        <app-dash-all-mois></app-dash-all-mois>
    </div>
    <div *ngIf="isSelect == 'Année'">
        <app-dash-all-year></app-dash-all-year>
    </div>
    <div *ngIf="isSelect == 'All'">
        <app-dash-all></app-dash-all>
    </div>
</div>
<div *ngIf="isSelectCategory == 'Employés'">
    <div *ngIf="isSelect == 'Mois'">
        <app-employes-mois></app-employes-mois>
    </div>
    <div *ngIf="isSelect == 'Année'">
        <app-employes-year></app-employes-year>
    </div>
    <div *ngIf="isSelect == 'All'">
        <app-employes-all></app-employes-all>
    </div>
</div>
<div *ngIf="isSelectCategory == 'Finances'">
    <div *ngIf="isSelect == 'Mois'">
        <app-finance-month></app-finance-month>
    </div>
    <div *ngIf="isSelect == 'Année'">
        <app-finance-year></app-finance-year>
    </div>
    <div *ngIf="isSelect == 'All'">
        <app-finance-all></app-finance-all>
    </div>
</div>
<div *ngIf="isSelectCategory == 'Presences'">
    <div *ngIf="isSelect == 'Mois'">
        <app-presence-month></app-presence-month>
    </div>
    <div *ngIf="isSelect == 'Année'">
        <app-presence-year></app-presence-year>
    </div>
    <div *ngIf="isSelect == 'All'">
        <app-presence-all></app-presence-all>
    </div>
</div>
<div *ngIf="isSelectCategory == 'Autres'">
    <div *ngIf="isSelect == 'Mois'">
        <app-autre-month></app-autre-month>
    </div>
    <div *ngIf="isSelect == 'Année'">
        <app-autre-year></app-autre-year>
    </div>
    <div *ngIf="isSelect == 'All'">
        <app-autre-all></app-autre-all>
    </div>
</div>
 