<div
    fxLayout="row"
    fxLayout.xs="column"
    fxLayoutGap="25px"
    fxLayoutGap.xs="0" 
>
    <div fxFlex="33.333333%" fxFlex.xs="100%" class="col">
        <mat-card class="single-stats-box tagus-card mb-25">
            <div class="d-flex justify-content-space-between">
                <span class="title gray-color fw-semibold">Total employés</span>
                <div class="icon">
                    <i class="ri-money-dollar-circle-line"></i>
                </div>
            </div>
            <h3 class="text-center">1520</h3>
        </mat-card>
    </div>
    <div fxFlex="33.333333%" fxFlex.xs="100%" class="col">
        <mat-card class="single-stats-box tagus-card mb-25">
            <div class="d-flex justify-content-space-between">
                <span class="title gray-color fw-semibold">Total Femmes</span>
                <div class="icon bg2">
                    <i class="ri-arrow-up-down-fill"></i>
                </div>
            </div>
            <h3 class="text-center">562</h3>
        </mat-card>
    </div>
    <div fxFlex="33.333333%" fxFlex.xs="100%" class="col">
        <mat-card class="single-stats-box tagus-card mb-25">
            <div class="d-flex justify-content-space-between">
                <span class="title gray-color fw-semibold">Total Hommes</span>
                <div class="icon bg3">
                    <i class="ri-bar-chart-2-line"></i>
                </div>
            </div>
            <h3 class="text-center">1013</h3>
        </mat-card>
    </div>
</div>