<div class="breadcrumb-card mb-25 d-md-flex align-items-center justify-content-space-between">
    <h4 class="mb-0">Horaire</h4>
    <ol class="breadcrumb mb-0 ps-0">
        <li class="breadcrumb-item">
            <a routerLink="/layouts">
                <i class="ri-home-8-line"></i>
                Dashboard
            </a>
        </li>
        <li class="breadcrumb-item fw-semibold">Calendar</li>
    </ol>
</div>

<mat-card class="mb-25 tagus-card"> 
    <mat-card-content>
        <full-calendar [options]="calendarOptions"></full-calendar>
    </mat-card-content>
</mat-card>